@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
.header {
    text-align: center;
    font-size:34px;
}
.form {
    position: relative;
    left:100px;
    z-index: 1;
    /*Shifts form downwards*/
    top: 30px;
    border-radius: 30px;
    background: #FFFFFF;
    font-size: 50px;
    max-width: 450px;
    height:42px;
    /*Makes box bigger*/
    padding: 55px;
    text-align:left;
    /*creates box around the form*/
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.time {
    position: relative;
    left: 420px;
    z-index: 1;
    border-radius: 30px;
    /*Shifts form downwards*/
    bottom:122px;
    background: #FFFFFF;
    font-size: 50px;
    max-width: 450px;
    height:50px;
    margin: 0 auto 100px;
    /*Makes box bigger*/
    padding: 50px;
    text-align: center;
    /*creates box around the form*/
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
select {
    width: 270px;
    height: 60px;
    line-height: 10000px;
    -webkit-appearance: menulist-button;
    -moz-appearance: none;
}
.Calculate button{
    position:relative;
    left: 420px;
    z-index:1;
    border-radius: 30px;
    bottom: 155px;
    padding:50px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #0B2445;
    width: 50%;
    height:50%;
    border: 0;
    /*color of words in button*/
    color: #FFFFFF;
    font-size: 70px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.Calculate button:hover,.Calculate button:active,.Calculate button:focus {
    background: #43A047;
}
.body {
    background: orange;
}